<ion-header>
  <ion-toolbar>
    <ion-title>{{title ?? 'Debug - Menu'}}</ion-title>
    <ion-fab-button (click)="deleteAll()" style="float: right">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let debugMessage of debugMessages">
      <ion-card>
        <ion-card-content>
          <ion-card-content>
            {{debugMessage}}
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
